

// ----------------------
// == Site settings
// ----------------------
// Colors
$red: #d2276a;
$blue: #1aadc4;
$green: #87b07a;
$orange: #f08b41;
$purple: #922d87;

// Fonts
$font1: "Bree Serif",sans-serif;
$font2: "Open Sans",sans-serif;

$medium:992px;