

/* ===========================
Layout
=========================== */
.wrapper
{
	position:relative;
	max-width:1025px;
	margin:0 auto;
 	padding: 1px 0 64px;
	background:white;
}
.logo 
{
	margin: 0 auto;
	display: block;
	padding: 4%;
	max-width: 300px;
}	
.title-container
{
	padding:1px;
	background: url("img/bg.jpg") top center no-repeat;
	background-size: 100%;
	background-size:cover;
	position: relative;
    z-index: 200;
}
section 
{
	padding:1px 5% 3%;
}
ul 
{
	list-style:none;
	margin:0;
	padding:0;
}
.li 
{
	position:relative;
	padding-left:15px;
	padding-bottom:8px;
	a 
	{
		color:$orange;
	}
	&::before
	{
		position: absolute;
	    content: "";
	    width: 8px;
	    height: 8px;
	    left: 0px;
	    background: $orange;
	    top: 9px;
	    border-radius: 10px;
	}
}

 .btn-go-cont 
{
   	position: fixed;
	bottom: 0;
	z-index: 100;
	height:100px;
	width: 100%;
	max-width: 1025px;
	overflow:hidden;
	margin: 0 auto;
	display: block;
	div 
	{
		display: block;
		height: 65px;
		position: absolute;
		bottom: 0;
		width:100%;
		background: white;
		box-shadow: 0px 0px 50px rgba(122, 165, 135, 0.45);
	}
}

.btn-go
{
    //position: absolute;
    padding: 10px;
    margin:10px;
    bottom: 0;
    text-transform: uppercase;
    font-size: 16px;
    right: 0;
    background: $blue;
    text-align: center;
    background-size: 100%;
    color: white;
    margin:10px;
    display:block;
}
.btn-top-cont
{
	position: fixed;
	top: 0;
	z-index: 100;
	height:100px;
	width: 100%;
	max-width: 1025px;
	overflow:hidden;
	margin: 0 auto;
	display: block;
	
    display:none;
}
.btn-top 
{
	position:absolute;
	color:$red;
	border: 4px solid $red;
    border-radius: 100px;
    padding: 9px 6px;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    opacity:0.5;
    &:hover 
    {
    	opacity:1;
    }
}

.clearfix 
{
	position:relative;
}
.div-text 
{
	margin-top:40px;
}
.carousel 
{
	/*position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);*/
}


@media screen and (min-width:992px)
{
	.carousel, .div-text
	{
		width:45%;
	}
	.div-text
	{
		margin-top:-22px;
	}
	.section-with-images:nth-child(odd)
	{
		.carousel
		{
			float:left;
		}
		.div-text
		{
			float:right;
		}
	}
	.section-with-images:nth-child(even)
	{
		.carousel
		{
			float:right;
		}
		.div-text
		{
			float:left;
		}
	}
}

