.message-success,.message-error
{
	text-transform: uppercase;
    font-weight: bold;
    color: $blue;
    font-size: 1.3em;
}
.message-error
{
    color: $red;
}
.btn.btn-success, .btn.btn-error
{
	margin-top:10px;
	display:inline-block;
	text-align:center;
	background:$blue !important;
}
.btn.btn-error
{
	background:$red !important;
}
.message-success-container,.message-error-container
{
	padding-bottom:100px;
}