<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<title>{% block title %}mobile my day{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" media="screen" href="/css/optin-patchpharma.css">
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/libs/modernizr.js"></script>
	<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
	<link rel="manifest" href="/icons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="wrapper">
	<div class="header">
		<img class="logo" src="/img/logo-mobilemyday.jpg" alt="Logo MMD" />
		{% block patnerLogo %}{% endblock %}
	</div>
	{% if availableLocales is defined %}
	<ul class="m-languages">
        {% for availableLocale in availableLocales %}
            <li>
                <a href="{{ path(matchedRouteName, {locale: availableLocale.uri}) }}" {% if locale == availableLocale.uri %}class="active"{% endif %}>
                    {{ availableLocale.language|upper }}
                </a>
            </li>
        {% endfor %}
	</ul>
	{% endif %}
	{% block content %}{% endblock %}
</div>
</body>
<script src="/js/libs/jquery-1.11.2.js"></script>
<script src="/js/libs/validate.js"></script>
<script src="/js/optin-patchpharma.js"></script>
</html>